/* Navigation bar for devices below 950px */
@media only screen and (max-width:950px) {

    /* Navigation */
    #navbar {
        flex-direction: row;
        justify-content: space-between;
    }

    #navbar ul li a {
        font-size: 1rem;
        padding: 10px 10px;
        display: inline-block;
    }

    #navbar ul {
        display: block;
        position: absolute;
        top: 0px;
        width: 60%;
        height: 100vh;
        left: -100%;
        padding: 0px;
        background-color: #48c9fd;
        transition: all 0.5s cubic-bezier(0.785, 0.135, 0.15, 0.86);

    }

    #navbar ul li {
        display: block;
        padding: 18px 0px;
        /* padding-right: 18px; */
        border-bottom: 1px solid #d8d1d1;
        padding-left: 20px;
    }

    /* Open Menu on Navbar */
    #open-menu {
        display: block;
        margin: 10px 34px;
    }

    #open-menu a {
        display: block;
        color: wheat;
        font-size: 1.5rem;
        font-weight: bold;
        margin: 3px 6px;
        font-family: noteworthy;
        text-decoration: none;


    }

    /* Close menu on Navbar */

    #close-menu {
        display: block;
    }

    #close-menu a {
        color: white;
        display: inline-block;
        margin-top: .5rem;
        margin-right: .5rem;
        border-radius: 2rem;
        text-decoration: none;
        font-family: optima;
        font-size: 1.2rem;
        text-align: right;
        padding: .5rem .7rem;
    }

    #close-menu a:hover {
        background-color: white;
        color: black;
    }

    /* Navbar Logo */
    #logo {
        align-self: flex-start;
    }
}

/* Welcome Section */
#welcome {
    height: 370px;
    padding: 3px 28px;

}

#welcome::before {
    height: 360px;

}

#welcome p {
    font-size: 1rem;
}

#welcome h1 {
    font-size: 2rem;
}

/* Services Section */
#services {
    flex-direction: column;
}

#services-container h1 {
    padding: 0.5rem;
}

#services .box {
    padding: 1rem;
    margin: 2px 0px;
    margin-bottom: 1rem;
}

/* Delivery Location */
#delivery-container {
    flex-direction: column;
    padding: 1.5rem;
}

/* Our Team */
#our-team .box {
    margin-right: 2px;

}

#our-team .box h2 {
    font-size: 1rem;

}

#our-team .box p {
    font-size: 0.8rem;

}

/* Contact Us Section */
#contact-box form {
    width: 80%;
}

#contact-box input,
#contact-box textarea {
    width: 90%;
}

/* Footer */
/* No Styling for Footer in Mobile */

/* Utility Classes */
.h-primary {
    font-size: 1.8rem;
    padding: 1rem;
}

.btn {
    font-size: 13px;
    padding: 4px 8px;
}

/* Small Mobile Devices */
@media only screen and (max-width:470px) {

    /* Navbar Section */
    #navbar ul li a {
        font-size: 0.8rem;
        padding: 10px 6px;
    }

    /* Services Section */
    #services .box img {
        height: 90px;
        width: 100px;
    }

    #services .box p {
        font-size: 0.8rem;
    }

    /* Delivery Section */
    #delivery-container h1 {
        font-size: 1rem;

    }

    /* Utility Classes */
    .h-secondary {
        font-size: 1.8rem;
    }
}
